# Ignore dbsettings.properties
Backend/src/main/resources/dbsettings.properties

# Ignore spring file
Backend/.gradle/
Backend/build
Backend/bin
Backend/out
#Backend/build.gradle
Backend/personal_dev_env


# Ignore .idea file
.idea
Backend/.idea

# Ignore emailsettings.properties
Backend/src/main/resources/emailsettings.properties

# Ignore .DS_Store file
.DS_Store
Backend/.DS_Store
Backend/src/.DS_Store
Backend/src/main.DS_Store
Backend/src/main/java/.DS_Store
Backend/src/main/java/graduationProject/graduation_judge/.DS_Store
Backend/src/main/java/graduationProject/graduation_judge/DAO/.DS_Store
