.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    max-height: 500px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgb(70, 70, 70);
    padding: 20px 30px 20px 30px;
}

.alertmodal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgb(70, 70, 70);
    padding: 20px 30px 20px 30px;
}

.tablemodal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    max-height: 650px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgb(70, 70, 70);
    padding: 20px 30px 20px 30px;
}

.findPW {
    font-family: SsangMun, sans-serif;
    font-size: 1.8em;
    text-align: center;
    margin: 10px 0 20px 0;
}

.modal_btn {
    border: none;
    background-color: silver;
    color: white;
    border-radius: 30px;
    font-family: NanumSquare, sans-serif;
    font-size: 0.9em;
    width: 80px;
    height: 30px;
    transition-duration: 0.4s;
}

.PW_Stack {
    width: 60%;
}

@media screen and (max-width: 700px) {
    .modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 10px 50px rgb(70, 70, 70);
        padding: 20px 30px 20px 30px;
    }
    .alertmodal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 10px 50px rgb(70, 70, 70);
        padding: 20px 30px 20px 30px;
    }    
    .tablemodal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        background-color: white;
        border-radius: 20px;
        box-shadow: 0 10px 50px rgb(70, 70, 70);
        padding: 20px 30px 20px 30px;
    }
    .findPW {
        font-family: SsangMun, sans-serif;
        font-size: 1.6em;
        text-align: center;
        margin: 10px 0 20px 0;
    }
    .modal_btn {
        border: none;
        background-color: silver;
        color: white;
        border-radius: 30px;
        font-family: NanumSquare, sans-serif;
        font-size: 0.9em;
        width: 80px;
        height: 30px;
        transition-duration: 0.4s;
    }
    .PW_Stack {
        width: 75%;
    }
    .send_btn {
        margin: 0;
        width: 100%;
    }    
}