@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.sidebar {
    position: fixed;
    top: 50px;
    left: 300px;
    width: 320px;
    z-index: 1;
  }
  .sidebar__logo {
    height: 120px;
  }

  .sidebar__menu__item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 3rem;
    
    font-family: KBO-Dia-Gothic_bold, sans-serif;
  }

  .sidebar__menu__item__icon {
    margin-right: 1rem;
  }
.inactive{
  color: #555555;
}
.active { 
  color: #fb8a68;
  font-weight: bold;
  background-color: white;
}
