@font-face {
  font-family: 'KBO-Dia-Gothic_bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/KBO-Dia-Gothic_bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

.sidebar {
    position: fixed;
    top: 50px;
    left: 300px;
    width: 320px;
  }
  .sidebar__logo {
    height: 120px;
  }

  .sidebar__menu__item {
    display: flex;
    align-items: center;
    place-content: flex-start;
    padding: 1rem 3rem;
    color: #555555;
    font-family: KBO-Dia-Gothic_bold, sans-serif;
  }
  .sidebar__menu__item.active {
    color: #fff;
  }
  .sidebar__menu__item__icon {
    margin-right: 1rem;
  }
  .sidebar__menu__item__icon i {
    font-size: 1.75rem;
  }
  .sidebar__menu__indicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    border-radius: 10px;
    background-color: #308efe;
    z-index: -1;
    transform: translateX(-50%);
    transition: 0.3s ease-in-out;
  }