

.mainBox{
  width: 800px;
  position: absolute;
  top: 100px;
  left : 550px;
}

.container {
  position: relative;
  width: 100%; height: 100vh;
  top: 0; left: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titleData {
  position: absolute;
  top: 100px;
  font-family: SsangMun, sans-serif;
  font-size: 4.8em;
  box-shadow: inset 0 -20px 0 silver;
}

.guide {
  background-color: white;
  width: 80%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 40px 40px 40px 40px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 0 10px lightgray;
}

.guide .textfield {
  margin: 0 auto;
  padding: 10px;
  display: block !important;
  border-radius: 6px;
  border: none !important;
  font-size: 13px;
  margin-bottom: 5px;
  outline:none;
  font-family: NanumSquare, sans-serif;
}

.guide #textfield {
  width: 80%;
  padding: 10px;
  display: block !important;
  border-radius: 6px;
  border: none !important;
  font-size: 13px;
  margin-bottom: 5px;
  outline:none;
  color: black !important;
  font-family: NanumSquare, sans-serif;
}
#textfield:hover, .textfield:hover {
	border-color: rgba(0, 0, 0, .35);
	box-shadow: 0 0 5px rgba(0, 0, 0, .2);
}
#textfield:click, .textfield:click{
  border: none;
}
.subtitle{
  margin-top:10px;
  font-size: 13px;
  line-height: 1.6em;
  margin-bottom: 10px;
}

.btn{
  width: 100px;
  height : 40px;
  font-size: 18px;
}

.uploadbtn{
  cursor: pointer;
  border: none;
  color: white;
  background-color: #2260ff;
  padding: 8px 10px;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 600;
  margin-top: 5px;
  margin : 10px;
}

.uploadbtn:hover{
  background-color: #235be9;
}


.deletebtn{
  cursor: pointer;
  border: none;
  color: white;
  background-color: #2260ff;
  padding: 8px 10px;
  border-radius: 20px;
  font-size: 10px;
  margin-top: 5px;
  margin : 10px;
  width : 70px;
  height : 25px;
  box-shadow: 0 1px 1px rgba(0, 79, 255, 0.3);
}

.deletebtn:hover{
  background-color: #235be9;
}

.pflist{
  list-style-type: none !important;
  line-height: 1.8;
}

.pflist #text{
  width : 150px;
}

ul{
  list-style:none;
  padding-left:0px;
  }

  .member-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }