@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes jello-horizontal {
    0% {
      transform: scale3d(1, 1, 1);
    }
    30% {
      transform: scale3d(1.25, 0.75, 1);
    }
    40% {
      transform: scale3d(0.75, 1.25, 1);
    }
    50% {
      transform: scale3d(1.15, 0.85, 1);
    }
    65% {
      transform: scale3d(0.95, 1.05, 1);
    }
    75% {
      transform: scale3d(1.05, 0.95, 1);
    }
    100% {
      transform: scale3d(1, 1, 1);
    }
}
@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}  
@keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
}

.fade-in {
    animation:fade-in 0.8s cubic-bezier(.39,.575,.565,1.000) both
}

body {
    background-color: #F2F2F2;
}

.home_box {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: lemonchiffon; */
}

.title_area {
    /* background-color: aqua; */
    text-align: center;
}

.logo {
    /* background-color: rgb(255, 111, 209); */
    width: 100%;
}

.logo_img {
    width: 200px;
    animation: bounce-in-top 1.1s both;
}

.logo_img:hover {
    animation: jello-horizontal 0.9s both;
}

.title {
    /* background-color: chartreuse; */
    font-family: SsangMun, sans-serif;
    font-size: 4.8em;
    box-shadow: inset 0 -40px 0 silver;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.link {
    /* background-color: hotpink; */
    text-decoration: none;
    width: 100%;
    margin-top: 10px;
}

.link a {
    text-decoration: none;
    color: silver;
    font-family: SsangMun, sans-serif;
    font-size: 1em;
}

@media screen and (max-width: 700px)  {   
    .title_area {
        /* background-color: aqua; */
        text-align: center;
    }    
    .logo_img {
        width: 170px;
    }    
    .title {
        /* background-color: chartreuse; */
        font-family: SsangMun, sans-serif;
        font-size: 4.5em;
        box-shadow: inset 0 -32px 0 silver;
    }
    .link a {
        text-decoration: none;
        color: silver;
        font-family: SsangMun, sans-serif;
        font-size: 0.8em;
    }    
    .signout_home {
      /* background-color: #007FFF; */
      position: absolute;
      left: 10px;
      top: 20px;
    }     
}

.btn_area {
    /* background-color: aquamarine; */
    text-align: center;
    margin-top: 50px;
}

.btn {
    border: none;
    background-color: #007FFF;
    color: white;
    border-radius: 30px;
    font-family: SsangMun, sans-serif;
    font-size: 1.2em;
    width: 150px;
    height: 45px;
    box-shadow: 0 1px 5px rgb(97, 96, 96);
    transition-duration: 0.4s;
}
  
.btn:hover {
    background-color: #004488;
    cursor: pointer;
}

.signout_home {
  /* background-color: #007FFF; */
  position: absolute;
  left: 23px;
  top: 15px;
} 

.signout_home:hover {
  opacity: 0.7;
  cursor:pointer;
}

.mypage_home {
  /* background-color: #007FFF; */
  position: absolute;
  right: 23px;
  top: 15px;
} 

.mypage_home:hover {
  opacity: 0.7;
  cursor:pointer;
}
