.guide {
    background-color: white;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    padding: 20px 10px 10px 10px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 10px lightgray;
}

.guide_img {
    width: 380px;
}

.input_area {
    /* background-color: lavender; */
    width: 500px;
    height: 60px;
    margin: 0 auto;
    text-align: center;
    line-height: 60px;

}

.upload_btn {
    background-color: white;
    border: 1px solid lightgray;
    width: 150px;
    height: 100%;
    font-size: 1em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.upload_btn:hover {
    cursor: pointer;
    border: 1px solid black;
}

.file_name {
    background-color: rgb(248, 248, 248);
    border: 1px solid lightgray;
    border-left: 0;
    width: 350px;
    height: 100%;
    font-size: 0.9em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow: scroll;
}

.upload_icon {
    /* background-color: aquamarine; */
    line-height: 75px;
    margin-left: 20px;
}

.upload {
    /* background-color: antiquewhite; */
    margin-left: 5px;
}

@media screen and (min-width: 1300px) {
    .guide_img {
        width: 480px;
    }    
}

@media screen and (max-width: 700px) {
    .input_area {
        /* background-color: lavender; */
        width: 350px;
        height: 60px;
        margin: 0 auto;
        text-align: center;
        line-height: 60px;
    }
    .file_name {
        background-color: rgb(248, 248, 248);
        border: 1px solid lightgray;
        border-left: 0;
        width: 200px;
        height: 100%;
        font-size: 0.9em;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        overflow: scroll;
    }
    .guide {
        background-color: white;
        width: 90%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 50px;
        padding: 20px 10px 10px 10px;
        text-align: center;
        border-radius: 20px;
        box-shadow: 0 0 10px lightgray;
    }    
    .guide_img {
        width: 300px;
    }    
}