@font-face {
    font-family: 'SsangMun';
    src: url("../../fonts/Typo_SsangmundongGulimB.ttf");
}
@font-face {
    font-family: 'NanumSquare';
    src: url("../../fonts/NanumSquareB.ttf");
}

@keyframes heartbeat {
    from {
      transform: scale(1);
      transform-origin: center center;
      animation-timing-function: ease-out;
    }
    10% {
      transform: scale(0.91);
      animation-timing-function: ease-in;
    }
    17% {
      transform: scale(0.98);
      animation-timing-function: ease-out;
    }
    33% {
      transform: scale(0.87);
      animation-timing-function: ease-in;
    }
    45% {
      transform: scale(1);
      animation-timing-function: ease-out;
    }
}

u {
    text-underline-position: under;
}

@media screen and (min-width: 701px) {
    .result_stack {
        /* background-color: crimson; */
        margin-top: 50px;
        margin-bottom: 10px;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    .r0 {
        /* background-color: chartreuse; */
        font-family: SsangMun, sans-serif;
        font-size: 3.5em;
        line-height: 1.5em;
        padding-left: 5px;
        padding-right: 5px;
    }
    .r1 {
        /* background-color: darkorange; */
        font-family: SsangMun, sans-serif;
        font-size: 4em;
        color: crimson;
    }
    .r2 {
        /* background-color: darkorange; */
        font-family: SsangMun, sans-serif;
        font-size: 4em;
        color: seagreen;
    }
    .r1:hover {
        animation: heartbeat 1.5s ease-in-out both;
    }
    .r2:hover {
        animation: heartbeat 1.5s ease-in-out both;
    }
    .result_detail {
        background-color: white;
        padding: 10px;
        width: 70%;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 0 0 10px lightgray;
        margin-bottom: 50px;
    }
    .detail_box {
        border-bottom: 1px dashed lightgray;
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90%;
        margin: 0 auto;
    }
    .final_detail_box {
        padding-top: 10px;
        padding-bottom: 10px;
        width: 90%;
        margin: 0 auto;
    }
    .stack {
        /* background-color: rgb(255, 226, 216); */
        display: inline-block;
        width: 200px;
    }
    .check_img {
        /* background-color: cadetblue; */
        width: 40px;
        height: 40px;
        margin-left: 10px
    }
    .detail_title {
        /* background-color: coral; */
        position: absolute;
        font-family: SsangMun, sans-serif;
        font-size: 1.8em;
        margin-top: 4px;
        margin-left: 10px;
    }
    .detail_content {
        /* background-color: rgb(55, 139, 204); */
        position: absolute;
        font-family: Nanumsquare, sans-serif;
        font-size: 1em;
        color: dimgray;
        margin-top: 10px;
        margin-left: 20px;
    }
    .acc {
        margin-bottom: -7px;
    }
    .check_img0 {
        /* background-color: cadetblue; */
        width: 40px;
        height: 40px;
        margin-left: 10px
    }
    .detail_title2 {
        /* background-color: coral; */
        position: absolute;
        font-family: SsangMun, sans-serif;
        font-size: 1.8em;
        margin-left: 10px;
        top: 5px;
        line-height: 40px;
    }
    .detail_content2 {
        /* background-color: rgb(55, 139, 204); */
        position: absolute;
        font-family: Nanumsquare, sans-serif;
        font-size: 1em;
        color: dimgray;
        top: 15px;
        margin-left: 220px;
    }
    .category {
        /* background-color: bisque; */
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .check_img2 {
        /* background-color: cadetblue; */
        width: 35px;
        height: 35px;
        margin-left: 30px
    }
    .category_title {
        /* background-color: dimgray; */
        border-radius: 100px;
        font-family: SsangMun, sans-serif;
        font-size: 1.4em;
        line-height: 35px;
        width: 110px;
    }
    .category_content {
        /* background-color: rgb(189, 208, 243); */
        font-family: Nanumsquare, sans-serif;
        font-size: 0.9em;
        color: dimgray;
        line-height: 35px;
    }
    .badge_box {
        /* background-color: rgba(30, 162, 223, 0.555); */
        position: relative;
        left: 10px;
        margin-right: 20px;
        line-height: 40px;
    }
    .badge {
        display: inline-block;
        font-size: 12px;
        border: 1px solid crimson;
        color: crimson;
        margin: 0 3px 0 3px;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
        line-height: 15px;
    }
}

@media screen and (min-width: 1500px) {
    .result_detail {
        background-color: white;
        padding: 10px;
        width: 60%;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 0 0 10px lightgray;
        margin-bottom: 50px;
    }
    .check_img {
        /* background-color: cadetblue; */
        width: 40px;
        height: 40px;
        margin-left: 80px
    }
    .detail_content {
        /* background-color: rgb(55, 139, 204); */
        position: absolute;
        font-family: Nanumsquare, sans-serif;
        font-size: 1em;
        color: dimgray;
        margin-top: 10px;
        margin-left: 100px;
    }
    .check_img0 {
        /* background-color: cadetblue; */
        width: 40px;
        height: 40px;
        margin-left: 80px
    }
    .detail_content2 {
        /* background-color: rgb(55, 139, 204);  */
        position: absolute;
        font-family: Nanumsquare, sans-serif;
        font-size: 1em;
        color: dimgray;
        top: 15px;
        margin-left: 300px;
    }
    .category {
        /* background-color: bisque; */
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .check_img2 {
        /* background-color: cadetblue; */
        width: 35px;
        height: 35px;
        margin-left: 130px
    }
}

@media screen and (max-width: 700px) {
    .result_stack {
        /* background-color: crimson; */
        margin-top: 30px;
        margin-bottom: 10px;
        animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    }
    .r0 {
        /* background-color: chartreuse; */
        font-family: SsangMun, sans-serif;
        font-size: 2em;
        line-height: 50px;
    }
    .r1 {
        /* background-color: darkorange; */
        font-family: SsangMun, sans-serif;
        font-size: 2.5em;
        line-height: 45px;
        color: crimson;
    }
    .r2 {
        /* background-color: darkorange; */
        font-family: SsangMun, sans-serif;
        font-size: 2.5em;
        line-height: 45px;
        color: seagreen;
    }
    .r1:hover {
        animation: heartbeat 1.5s ease-in-out both;
    }
    .r2:hover {
        animation: heartbeat 1.5s ease-in-out both;
    }
    .result_detail {
        background-color: white;
        padding: 10px;
        width: 90%;
        margin: 0 auto;
        border-radius: 20px;
        box-shadow: 0 0 10px lightgray;
        margin-bottom: 50px;
    }
    .detail_box {
        border-bottom: 1px dashed lightgray;
        padding-top: 7px;
        padding-bottom: 7px;
        margin: 0 auto;
    }
    .final_detail_box {
        padding-top: 7px;
        padding-bottom: 7px;
        margin: 0 auto;
    }
    .stack {
        /* background-color: rgb(255, 255, 183); */
        margin: 0 auto;
    }
    .check_img {
        /* background-color: rgb(168, 239, 242); */
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .detail_title {
        /* background-color: rgb(250, 195, 176); */
        position: absolute;
        font-family: SsangMun, sans-serif;
        font-size: 1.5em;
        margin-top: 2px;
        margin-left: 5px;
    }
    .detail_content {
        /* background-color: rgb(172, 219, 254); */
        font-family: Nanumsquare, sans-serif;
        font-size: 0.8em;
        color: dimgray;
        margin-left: 45px;
    }
    .acc {
        margin-bottom: 10px;
    }
    .check_img0 {
        /* background-color: rgb(168, 239, 242); */
        width: 30px;
        height: 30px;
        margin-left: 10px;
    }
    .detail_title2 {
        /* background-color: rgb(250, 195, 176); */
        position: absolute;
        font-family: SsangMun, sans-serif;
        font-size: 1.5em;
        margin-top: 2px;
        margin-left: 5px;
    }
    .detail_content2 {
        /* background-color: rgb(172, 219, 254); */
        position: absolute;
        font-family: Nanumsquare, sans-serif;
        font-size: 0.8em;
        color: dimgray;
        top: 40px;
        margin-left: 45px;
    }
    .category {
        /* background-color: rgb(225, 174, 171); */
        position: relative;
        left: 0;
        padding-top: 5px;
        padding-bottom: 5px;
    }
    .check_img2 {
        /* background-color: cadetblue; */
        width: 25px;
        height: 25px;
        margin-left: 20px
    }
    .category_title {
        /* background-color: dimgray; */
        border-radius: 100px;
        font-family: SsangMun, sans-serif;
        font-size: 1.2em;
        line-height: 25px;
        width: 80px;
    }
    .category_content {
        /* background-color: rgb(189, 208, 243); */
        font-family: Nanumsquare, sans-serif;
        font-size: 0.7em;
        color: dimgray;
        line-height: 25px;
    }
    .badge_box {
        /* background-color: rgba(255, 204, 127, 0.555); */
        position: relative;
        left: 20px;
        margin: 3px 20px 3px 0;
    }
    .badge {
        display: inline-block;
        font-size: 12px;
        border: 1px solid crimson;
        color: crimson;
        margin: 2px 3px 2px 3px;
        padding: 3px 5px 3px 5px;
        border-radius: 5px;
    }
}
