input[type=password] {
    font-family: sans-serif;
}

.sub_title {
    font-family: SsangMun, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
}

.signin {
    font-family: SsangMun, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 100px;
}

.signup {
    font-family: SsangMun, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 50px;
}

.mypage {
    font-family: SsangMun, sans-serif;
    font-size: 2em;
    text-align: center;
    margin-top: 70px;
}

.text_area {
    /* background-color: aquamarine; */
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 20px;
}

.text_area_in {
    /* background-color: aquamarine; */
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 40px;
}

.select_area {
    /* background-color: coral; */
    margin-left: 30%;
    margin-right: 30%;
}

.email {
    background-color: white;
    width: 170px;
}

.text {
    background-color: white;
}

.text_in {
    background-color: white;
    width: 100%;
}

.select {
    background-color: white;
}

.helper {
    color: crimson;
    font-size: 12px;
    margin-left: 13px;
}

.helperStack {
    /* background-color: cornflowerblue; */
    width: 75%;
}

.sub_btn_area {
    /* background-color: aquamarine; */
    text-align: center;
    margin-top: 15px;
}

.sub_btn {
    border: none;
    background-color: transparent;
    color: black
}

.sub_btn:hover {
    background-color: rgb(220, 220, 220);
    cursor: pointer;
}

.check_btn {
    background-color: transparent;
    border: 1px solid #1976d279;
    border-radius: 6px;
    color: #1976D2;
    text-align: center;
    padding: 7px;
    height: 35px;
}

.check_btn:hover {
    background-color: #1976d208;
    border: 1px solid #1976D2;
    cursor: pointer;
}

@media screen and (max-width: 700px) {
    .signin {
        font-family: SsangMun, sans-serif;
        font-size: 2em;
        text-align: center;
        margin-top: 100px;
    }
    .mypage {
        font-family: SsangMun, sans-serif;
        font-size: 2em;
        text-align: center;
        margin-top: 100px;
    }
    .text_area {
        /* background-color: rgb(233, 255, 247); */
        margin: 10px;
        margin-top: 10px;
    }
    .text_area_in {
        /* background-color: rgb(233, 255, 247); */
        margin: 10px;
        margin-top: 30px;
    }
    .select_area {
        /* background-color: rgb(255, 240, 224); */
        margin: 10px;
    }
    .text {
        background-color: white;
    }
    .text_in {
        background-color: white;
        width: 100%;
    }    
    .select {
        background-color: white;
    }    
    .to_home_img {
        width: 50px;
    }
    .to_home {
        margin-left: -15px;
    }
    .to_home_title {
        font-family: SsangMun, sans-serif;
        font-size: 1.2em;
        box-shadow: inset 0 -10px 0 silver;
    }
    .to_mypage {
        text-align: center;
        margin-right: 10px;
    }    
    .helperStack {
        /* background-color: cornflowerblue; */
        width: 85%;
    }    
    .check_text {
        display: none;
    }
}
